* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.home {
  position: absolute;
  top: 4vh;
  left: 95vw;
  background: none;
}
.progressBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: red;
  transform-origin: 0%;
}

.lessonsBox {
  padding: 7vw;
  /* position: relative; */
  /* background-color: aqua; */
}

.breadNav {
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  background-color: #863131;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  position: sticky;
  top: 0;
  /* z-index: -1; */
  background-color: #ffffff;
}
li,
a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* z-index: -1; */
}
a {
  padding-right: 2vw;
}
.breadNavList {
  display: flex;
  width: 100%;
  list-style: none;
  margin-right: 15px;
  margin-left: 1%;
  /* border-right: 1px solid grey; */
  font-size: 14px;
  text-align: center;
  padding-bottom: 10px;
  color: #dbdbdb;
  font-family: "Courier New", Courier, monospace;
}

.article {
  margin-top: 50px;
  font-size: 18px;
}

.interestBox {
  background: #e0e0e0;
  box-shadow: 5px 5px 8px #949393;
  /* -8px -8px 16px #ebebeb; */
  padding: 20px;
  border-radius: 12px;
  margin: 25px 0;
}

.interestHeader {
  display: flex;
  padding-bottom: 10px;
}

.interestHeader h5 {
  margin: 0;
  padding: 2px 0 0 5px;
}

.textIcon {
  width: 30px;
  height: 30px;
  fill: rgb(12, 136, 185);
}

.Span {
  background-color: #dbdbdb;
  border: 1px solid #79bff8;
  border-radius: 5px;
  padding: 0 5px;
  color: rgb(176, 66, 46);
}

h1,
h3 {
  margin: 20px 0;
  font-weight: 600;
}

h3 {
  color: rgba(7, 97, 192, 0.944);
}

h5 {
  font-weight: 600;
}

.link {
  display: flex;
  flex-direction: column;
}

pre {
  width: 100%;
  background-color: rgb(185, 185, 185);
  border-radius: 10px;
  color: #ffffff;
  z-index: -1;
  overflow-x: scroll;
}
.stringImg {
  width: 850px;
}
.themeIMG {
  display: "flex";
  justify-content: "center";
}

@media screen and (max-width: 767px) {
  pre {
    width: 100%;
    /* padding: 20px; */
    font-size: 8px;
    overflow-y: scroll;
    padding-left: 0;
    white-space: pre-wrap;
  }
  .article {
    font-size: 14px;
  }
  SyntaxHighlighter {
    width: 100%;
    overflow-x: scroll;
    white-space: pre-wrap;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
}

@media screen and (min-width: 1024px) {
}
img {
  width: 35vw;
  margin: 3vh 0;
}
