.App {
  width: 100vw;

  position: fixed;
  /* min-height: 1500px; */
  min-height: 100%;
  height: 100%;

  font-size: 14px;
}

.Main {
  display: flex;
  justify-content: space-around;
}

.navbarBox {
  width: 25vw;
}

.mainTextBox {
  width: 75vw;
  /* padding-top: %; */
}

.mainTextBox,
.navbarBox {
  overflow-y: scroll;

  scrollbar-color: rebeccapurple green;
}

.Main {
  min-height: 100%;
  height: 100%;
}
