.App {
  width: 100vw;

  position: fixed;
  /* min-height: 1500px; */
  height: 200vh;

  font-size: 14px;
}

.Main {
  display: flex;
  justify-content: space-around;
}

.navbarBox {
  width: 25vw;
}

.mainTextBox {
  width: 75vw;
}

.mainTextBox,
.navbarBox {
  overflow-y: scroll;

  scrollbar-color: rebeccapurple green;
}

.Main {
  min-height: 960px;
  height: 100vh;
}
